.add_new_page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Keeps search box within screen width */
  max-width: 400px; /* Prevents it from being too wide */
  margin: 0 auto;
}
.add_new_categories {
  display: flex;
  gap: 10px;
  /* margin: 0 auto; */
  overflow-x: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer/Edge */
}
.add_new_categories::-webkit-scrollbar {
  display: none; /* Hides scrollbar in Chrome, Safari, and Edge */
}
.add_new_category {
  background-color: #eee;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  gap: 5px;
  padding: 10px;
  border-radius: 4px;
}
.add_new_category svg {
  font-size: 0.8rem;
}
.add_new_category p {
  font-size: 0.8rem;
}

/* ========================== */
/* add new form */
/* ========================== */
.add_new_form {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.add_new_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}
.add_new_btn {
  margin-top: 30px;
}
