.add_new_page {
  display: flex;
  flex-direction: column;
  width: 100%; /* Keeps search box within screen width */
  max-width: 400px; /* Prevents it from being too wide */
  margin: 0 auto;
}
/* ========================== */
/* add new form */
/* ========================== */

.add_new_form {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.add_new_form .category_container,
.app_container {
  margin: 0;
}
.add_new_form .category_container .category_label,
.add_new_form .app_label {
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 0.9rem;
}
.add_new_form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 400px;
}
.add_new_btn {
  margin-top: 30px;
}
